<%= link_to 'Character List', characters_path, class: 'weblink button' %> 


<header>
	<!-- Title  -->
    <h1>DeviantCharacter</h1>
</header>

<section>
	<!-- Side Naviation Bar -->
    <div class="sidenav">
        <a> <%= link_to 'Home', controller: 'application' %></a>
        <a> <%= link_to 'Characters', controller: 'characters' %></a>
    </div>		
</section>

<main>
        <center><h2>Character Creation</h2></center>
        <%= render 'form' %>
</main>
<footer>
    <p class="footer">
        Updated 25 April 2019
    </p>
</footer>