<<<<<<< HEAD
<h1>New Character</h1>
=======
<%= link_to '< Character List', characters_path, class: 'weblink' %> 
>>>>>>> 87ce13b8a64c09a837bd516153bc5fa9a0d0d86b

<h1>New Character</h1>

<%= render 'form' %>