body {
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
    font-size: 100%;
    background-color: white;
    margin: 0 auto;
    overflow: hidden;
}
header {
    padding-left: 20px;
    padding-left: 23%;
    background-color: white;
    color: black;
    text-shadow: 1px gray;
}

main {
    background-image: url("https://webpages.uncc.edu/dual/rpgnavimage.jpg");
    background-repeat: no-repeat;
    background-size: 1500px 700px;
    height: 700px;
}

h1 { 
    font-size: 200%;
    margin-bottom: .5em;
	font-weight: bold;
}
h2 {
	font-size: 200%;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: .2em;
    color: black;
}

hr {
    size: 20px;
}

p {
    margin: auto;
    color: black;
    width: 75%;
    outline-color: 1px whie;
}

/* side nav bar formatting */
.sidenav {
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 78px;
  left: 0px;
  background: #eee;
  overflow-x: hidden;
  padding: 8px 0;
    padding-bottom: 406px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
}

.sidenav a:hover {
  color: darkgray;
}

.weblink {
    text-decoration: none;
    color: black;
}
/* end of side nav bar formatting */

/* main pic formatting */
.pic {
    width: 20%;
    padding-left: 540px;
}

/* end of main pic formatting */

/* formatting for the footer */
.footer {
   position: fixed;
   padding-left: 600px;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: white;
   color: black;
    border-top-style: groove;
    padding-top: 20px;
}
/* end of footer formatting */




/*Character CSS Styles*/
section.body {
    padding-left: 100px;
    width: 50%;
    padding-right: auto;
    height: 1500px;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 6px 32px;
  text-decoration: none;
  font-size: 16px;
  border-radius: 3px;
}

input[type=text] {
    width: 25%;
    padding: 7px 7px;
    border: 2px solid #ccc;
}

textarea {
    width: 50%;
    height: 100px;
    padding: 12px 12px;
    border: 2px solid #ccc;
    resize: none;
}

table {
    margin: auto;
    padding-left: 100px;
}

th {
    font-size: 2em;
    font-weight: bold;
    border: 3px solid black;
    border-collapse: collapse;
}

td {
    font-size: 1em;
    border: 3px solid black;
    border-collapse: collapse;
}

td.action {
    border: none;
}



.left {
    float: left;
    padding-left: 300px;
    width: 20%;
}

.right {
    float: left;
    width: 20%;
    
}

.row:after {
    content: "";
    display: table;
    clear: both;
    width: 20%;
}