body {
    background-color: rgb(40,40,40);
    color: white;
    
    margin: auto;
    width: 50%;
}

.sidenav a:hover{
    color: white;
}

.weblink  {
    text-decoration: none;
    color: white;
}

.weblink:hover {
    color: gray;
}

.error_explanation {
    text-align: center;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 6px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 3px;
  float: left;
}

input[type=text] {
    width: 25%;
    padding: 7px 7px;
    border: 2px solid #ccc;
}

textarea {
    width: 50%;
    height: 100px;
    padding: 12px 12px;
    border: 2px solid #ccc;
    resize: none;
}


table, td, th{
  
}

th {
    font-size: 2em;
    font-weight: bold;
    border: 1px solid gray;
    border-collapse: collapse;
}

td {
    font-size: 1em;
    border: 1px solid gray;
    border-collapse: collapse;
}

td.action {
    border: none;
}

