<body>
	<header>
		<!-- Title  -->
        <h1>DeviantCharacter</h1>
	</header>

	<section>
			<!-- Side Naviation Bar -->
            <div class="sidenav">
                <a> <%= link_to 'Home', controller: 'application' %></a>
                <a> <%= link_to 'Characters', controller: 'characters' %></a>
            </div>
	</section>
		
		
	<main>
		<section class="body">
            <hr>
            <br>
            <h2>Welcome!</h2>
            <br><br><p>
            We are a dedicated website for people to share their original characters they've come up with to share with other people! We have thousands (less than 5) of users with millions (less than 5) of charactes created for their books, stories, DnD, games and more.
            Each character is custom made by our users all with unique backstories and other fun tidbits.
            We keep everything here organized just for you. If you need inspiration for a new character, just browse our millions of characters (less than 5)!
            <br><br><br><br><br><br><br><br><br><br><br></p>
        </section>
	  </main>
    
	<footer>
        <p class="footer">Updated: April 23, 2019</p>
	</footer>
</body>