<head>
    <h1>Welcome to RPG Character Creator!</h1>
</head>

<body>
    <%= link_to 'List Characters', controller: 'characters' %><br>
    <%= link_to 'Create Characters', controller: 'characters' %><br>
</body>

<div class="body">
    We are a dedicated website for people to share their original characters they've come up with to share with other people! We have thousands (less than 5) of users with millions (less than 5) of charactes created
    for their books, stories, DnD, games and more. Each character is custom made by our users all with unique backstorys and other fun tidbits. We keep everything here organized just for you.
    If you need inspiration for a new character, just browse our millions of characters (less than 5)!
</div>
<h2> About RPG Character Creator</h2>


<div class="sidenav">
    <a href="#">    <%= link_to 'List Characters', controller: 'characters' %><br>
</a>
</div>